[Unit]
Description=Temperature-based CPU throttling

[Service]
PermissionsStartOnly=yes
ExecStartPre=/usr/bin/mkfifo /var/run/throttle
ExecStartPre=/usr/bin/chown root:users /var/run/throttle
ExecStartPre=/usr/bin/chmod 660 /var/run/throttle
ExecStart=/usr/sbin/throttle /etc/throttle.conf /var/run/throttle
ExecStop=/usr/bin/echo "*" >/var/run/throttle
ExecStopPost=/usr/bin/rm -f /var/run/throttle

[Install]
WantedBy=multi-user.target
